{% extends 'baseLogin.html' %}
{% load static %}

{% block 'title' %}Cadastro{% endblock 'title' %}

{% block 'body' %}
  <h1>Cadastro</h1>
  <p>Preencha os dados abaixo para se cadastrar no sistema</p>
  <form action="{% url 'cadastro' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" name="username" id="nome" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required>
    </div>
    <div class="form-group">
      <label for="telefone">Telefone</label>
      <input type="text" name="phone" id="telefone" required>
    </div>
    <div class="form-group">
      <label for="cpf">CPF</label>
      <input type="text" name="cpf" id="cpf" required>
    </div>
    <div class="form-group">
      <label for="tipo_funcionario">Tipo de Funcionário</label>
      <select name="tipo_funcionario" id="tipo_funcionario" required>
        <option value="">Selecione...</option>
        <option value="analista">Analista</option>
        <option value="producao">Produção</option>
        <option value="classificacao-producao">Classificação - Produção</option>
      </select>
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input type="password" name="password" id="senha" required>
    </div>
    <div class="form-group">
      <label for="confirmar_senha">Confirmar Senha</label>
      <input type="password" name="confirmPassword" id="confirmPassword" required>
    </div>
    <button type="submit" class="btn">Cadastrar</button>
  </form>

  <!-- Máscaras com JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
  <script>
    $(document).ready(function(){
        $('#telefone').mask('(00) 0 0000-0000');
        $('#cpf').mask('000.000.000-00');
    });
  </script>
{% endblock 'body' %}
