{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block 'title' %}{% endblock 'title' %}</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'geral\css\style.css' %}">
</head>
<body>
  <div class="form-container">
    <img  src="{% static 'image/logo.png' %}" alt="logo" style="height: 40px;">
    {% block 'body' %}{% endblock 'body' %}
  </div>
</body>
</html>